In [1]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
url = 'https://statiz.sporki.com/stats/?m=main&m2=fielding&m3=default&so=WAAwithPOS&ob=DESC&year=2022&sy=&ey=&te=&po=&lt=10100&reg=A&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2='
response = requests.get(url)

In [4]:
html = response.text
soup = BeautifulSoup(html, 'html.parser')
temp = soup.find_all("table")[0]

In [ ]:
df = pd.DataFrame(index = range(50), columns = ["Rank", "Name", "Team", "WAAwithPOS", "G", "GS", "IP", "TC", "PO", "Ass", "E", "F%", "RF9", "Range RAA",
                                                 "Arm RAA", "Err RAA", "DP RAA", "Bt RAA", "CS RAA", "Blk RAA", "Frm RAA", "종합 RAA", "/144", "POSAdj", "RAAwithPOS", "WAAwoPOS", "WAAwithPOS"])

df

In [6]:
l = 0
trs = temp.find_all("tr")
for j in range(2, min(414, len(trs))):  # 리스트의 길이를 벗어나지 않도록 조정
    temp2 = trs[j]
    if len(temp2.find_all("td")) == 27:
        for i in range(27):
            tds = temp2.find_all("td")
            if i < len(tds):  # 리스트의 길이를 벗어나지 않도록 조정
                temp3 = tds[i]
                df.iloc[l,i] = temp3.get_text()
            else:
                # 만약 인덱스가 범위를 벗어난 경우 처리할 내용 추가
                pass
        l += 1

df

,Rank,Name,Team,WAAwithPOS,G,GS,IP,TC,PO,Ass,...,Bt RAA,CS RAA,Blk RAA,Frm RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,WAAwithPOS
0,1,박성한,22 SS,2.979,138,131,1176.0,615,215,376,...,,,,,19.31,19.87,11.20,30.51,1.886,2.979
1,2,최재훈,22 C,2.656,106,101,853.2,725,644,78,...,-0.41,1.74,2.67,12.14,17.36,21.93,9.84,27.20,1.695,2.656
2,3,박해민,22 CF,2.591,144,142,1205.0,360,355,3,...,,,,,26.54,26.54,0.00,26.54,2.591,2.591
3,4,김혜성,22 2B,2.429,127,123,1080.0,674,292,371,...,,,,,19.36,21.61,5.52,24.88,1.890,2.429
4,5,이지영,22 C,2.193,137,102,994.2,906,818,77,...,0.21,0.01,2.44,10.71,11.92,12.53,10.54,22.46,1.164,2.193
5,6,오지환,22 SS,2.123,142,137,1167.0,585,210,359,...,,,,,10.40,10.55,11.34,21.74,1.016,2.123
6,7,김주원,22 SS,2.009,79,70,636.1,356,139,206,...,,,,,14.97,22.46,5.60,20.57,1.462,2.009
7,8,박세혁,22 C,1.628,126,110,884.0,762,689,68,...,0.26,-0.95,2.10,5.82,7.17,8.06,9.50,16.67,0.700,1.628
8,9,장성우,22 C,1.547,101,87,763.2,707,661,39,...,-0.34,0.04,1.74,6.19,7.21,8.87,8.64,15.85,0.704,1.547
9,10,박찬호,22 SS,1.330,130,128,1103.1,575,215,338,...,,,,,2.43,2.69,11.20,13.63,0.237,1.330
10,11,최지훈,22 CF,1.243,114,106,921.2,250,241,8,...,,,,,12.74,12.74,0.00,12.74,1.243,1.243
11,12,김지찬,22 2B,1.151,96,83,734.1,463,194,251,...,,,,,8.10,10.32,3.69,11.79,0.791,1.151
12,13,안재석,22 SS,1.149,72,54,459.2,256,99,144,...,,,,,7.75,11.28,4.02,11.77,0.757,1.149
13,14,박동원,22 C,1.145,107,92,865.0,779,703,71,...,-0.02,0.77,4.43,-3.93,2.01,2.35,9.72,11.73,0.196,1.145
14,15,강승호,22 2B,1.103,124,110,945.1,518,204,300,...,,,,,6.74,7.24,4.56,11.30,0.658,1.103
15,16,양의지,22 C,1.095,96,89,736.2,744,688,54,...,0.31,1.46,0.46,-1.74,2.43,2.69,8.78,11.21,0.237,1.095
16,17,유강남,22 C,1.016,134,116,1008.1,899,821,71,...,0.25,0.26,2.65,-3.95,-0.42,-0.44,10.82,10.40,-0.041,1.016
17,18,오윤석,22 2B,0.968,85,75,594.2,362,133,221,...,,,,,7.22,9.28,2.69,9.91,0.705,0.968
18,19,정보근,22 C,0.958,94,67,585.2,641,592,43,...,-0.22,0.99,-0.82,4.87,4.39,6.65,5.42,9.81,0.428,0.958
19,20,송성문,22 3B,0.953,138,137,1216.0,354,89,250,...,-0.44,,,,9.76,9.90,0.00,9.76,0.953,0.953
20,21,김성현,22 2B,0.846,105,67,649.0,368,131,230,...,,,,,6.04,6.69,2.63,8.67,0.590,0.846
21,22,김도영,22 SS,0.841,28,16,160.2,78,29,47,...,,,,,7.09,9.92,1.52,8.61,0.693,0.841
22,23,문보경,22 3B,0.824,97,94,749.0,179,40,135,...,-0.08,,,,8.44,9.65,0.00,8.44,0.824,0.824
23,24,노수광,22 LF,0.767,93,76,648.2,177,168,5,...,,,,,10.79,13.28,-2.93,7.86,1.053,0.767
24,25,심우준,22 SS,0.761,129,124,1048.1,525,211,298,...,,,,,-1.11,-1.21,8.90,7.79,-0.108,0.761
25,26,한승택,22 C,0.699,64,34,299.2,268,243,25,...,-0.21,-0.64,0.56,3.59,4.40,9.60,2.76,7.16,0.429,0.699
26,27,김주원,22 2B,0.671,20,11,94.0,56,28,28,...,,,,,6.47,9.70,0.40,6.87,0.631,0.671
27,28,조용호,22 LF,0.633,70,29,311.1,66,65,1,...,,,,,7.95,8.74,-1.46,6.49,0.776,0.633
28,29,박병호,22 1B,0.607,107,105,873.0,942,861,74,...,-0.22,,,,14.98,17.39,-8.76,6.22,1.462,0.607
29,30,오태곤,22 LF,0.601,81,50,488.0,125,117,7,...,,,,,8.30,9.19,-2.14,6.16,0.810,0.601
30,31,김민식,22 C,0.585,21,17,595.0,517,462,50,...,0.12,1.38,-2.62,1.51,0.04,0.05,5.95,5.99,0.004,0.585
31,32,박민우,22 2B,0.558,100,97,840.0,451,197,246,...,,,,,1.30,1.80,4.42,5.72,0.127,0.558
32,33,도태훈,22 3B,0.555,30,16,158.1,49,12,35,...,0.12,,,,5.68,8.99,0.00,5.68,0.555,0.555
33,34,김재호,22 SS,0.547,98,61,580.0,301,111,184,...,,,,,0.75,1.05,4.86,5.61,0.073,0.547
34,35,김기환,22 CF,0.532,44,20,209.0,62,60,1,...,,,,,5.45,10.74,0.00,5.45,0.532,0.532
35,36,박정현,22 SS,0.521,35,27,246.1,124,38,81,...,,,,,3.09,5.50,2.24,5.33,0.302,0.521
36,37,이재원,22 C,0.497,100,78,660.1,591,567,20,...,-0.40,-0.32,-1.12,0.66,-1.39,-1.91,6.48,5.09,-0.136,0.497
37,38,손아섭,22 RF,0.487,108,108,894.2,203,193,7,...,,,,,9.80,10.23,-4.81,4.99,0.957,0.487
38,39,문성주,22 RF,0.478,32,26,242.1,55,53,2,...,,,,,6.14,8.34,-1.25,4.89,0.600,0.478
39,40,홍현빈,22 RF,0.423,37,17,168.2,45,41,3,...,,,,,4.95,11.68,-0.61,4.34,0.483,0.423
40,41,김도영,22 3B,0.409,69,44,407.0,141,47,83,...,-0.09,,,,4.19,5.86,0.00,4.19,0.409,0.409
41,42,전민재,22 SS,0.405,14,11,86.2,50,18,30,...,,,,,3.43,14.12,0.72,4.15,0.335,0.405
42,43,김태연,22 3B,0.402,61,58,473.1,164,52,101,...,-0.36,,,,4.12,4.98,0.00,4.12,0.402,0.402
43,44,권동진,22 2B,0.391,25,5,68.2,52,19,33,...,,,,,3.80,11.39,0.21,4.01,0.371,0.391
44,45,최지훈,22 LF,0.386,27,18,166.1,42,41,1,...,,,,,4.79,4.79,-0.83,3.96,0.468,0.386
45,46,김태진,22 2B,0.386,3,0,167.1,109,41,65,...,,,,,3.23,6.04,0.72,3.95,0.316,0.386
46,47,지시완,22 C,0.374,71,48,426.1,413,388,23,...,-0.19,-2.33,2.75,-1.72,-0.52,-0.99,4.34,3.83,-0.050,0.374
47,48,신준우,22 SS,0.374,66,16,196.1,109,31,76,...,,,,,2.77,5.24,1.06,3.83,0.270,0.374
48,49,박승규,22 CF,0.371,24,12,127.1,49,49,0,...,,,,,3.79,8.81,0.00,3.79,0.371,0.371
49,50,김민수,22 3B,0.368,20,14,113.1,41,11,29,...,0.12,,,,3.77,9.53,0.00,3.77,0.368,0.368