In [1]:
import pandas as pd
import numpy as np

## 데이터 불러오기

In [38]:
df21 = pd.read_csv('result - 2021.csv')
df22 = pd.read_csv('result - 2022.csv')
df23 = pd.read_csv('result - 2023.csv')

## 데이터 전처리

> 데이터 전처리(구단명 통일)
  - 전부 두글자로 통일
  - KIA > 기아
  - SSG -> SK

In [57]:
# 기아 이름바꾸기

df21['원정'] = df21['원정'].str.replace("KIA", "기아", 1)
df21['홈'] = df21['홈'].str.replace("KIA", "기아", 1)
df22['원정'] = df22['원정'].str.replace("KIA", "기아", 1)
df22['홈'] = df22['홈'].str.replace("KIA", "기아", 1)
df23['원정'] = df23['원정'].str.replace("KIA", "기아", 1)
df23['홈'] = df23['홈'].str.replace("KIA", "기아", 1)


# SSG 이름바꾸기

df21['원정'] = df21['원정'].str.replace("SSG", "SK", 1)
df21['홈'] = df21['홈'].str.replace("SSG", "SK", 1)
df22['원정'] = df21['원정'].str.replace("SSG", "SK", 1)
df22['홈'] = df21['홈'].str.replace("SSG", "SK", 1)
df23['원정'] = df21['원정'].str.replace("SSG", "SK", 1)
df23['홈'] = df21['홈'].str.replace("SSG", "SK", 1)

> 데이터 전처리(점수)

- 원정팀    : 왼/두글자 추출
- 원정점수  : 왼/세번째부터 추출
- 홈점수    : 오/세번째부터 추출
- 홈팀      : 오/두글자 추출

In [58]:
def game(data) :
    data['원정팀'] = data['원정'].str[:2]
    data['A'] = data['원정'].str[2:]
    data['홈팀'] = data['홈'].str[-2:]
    data['B'] = data['홈'].str[:-2]
    
    
game(df21)
game(df22)
game(df23)

In [59]:
df22

,날짜,원정,홈,구장,비고,원정팀,A,홈팀,B,year,month,day,weekday,code
0,04.02(토),기아,두산,잠실,-,기아,,두산,,2022,04,02,토,20220402한두
1,04.02(토),롯데,SK,창원,-,롯데,,SK,,2022,04,02,토,20220402SN
2,04.02(토),LG,NC,수원,-,LG,,NC,,2022,04,02,토,20220402삼K
3,04.02(토),한화,KT,광주,-,한화,,KT,,2022,04,02,토,20220402L기
4,04.02(토),삼성1,6키움,고척,-,삼성,1,키움,6,2022,04,02,토,20220402롯키
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,10.08(토),NaN,NaN,창원,-,NaN,NaN,NaN,NaN,2022,10,08,토,20221008한N
765,10.08(토),NaN,NaN,광주,-,NaN,NaN,NaN,NaN,2022,10,08,토,20221008K기
766,10.09(일),NaN,NaN,잠실,우천취소,NaN,NaN,NaN,NaN,2022,10,09,일,20221009KL
767,10.10(월),NaN,NaN,수원,-,NaN,NaN,NaN,NaN,2022,10,10,월,20221010NK
768,10.11(화),NaN,NaN,잠실,-,NaN,NaN,NaN,NaN,2022,10,11,화,20221011KL

> 데이터 전처리(게임결과)

  - 1. 빈칸일 경우 : 우천취소
  - 2. A-B >0 일 경우 : 원정팀 출력 / A-B <0 일 경우 : 홈팀 출력 / A-B =0 일 경우 : 무승부

In [62]:
def score(data) :    
    data['A'] = pd.to_numeric(data['A'])
    data['B'] = pd.to_numeric(data['B'])
    
    data['result'] = data['B'] - data['A']
        
    
score(df21)
score(df22)
score(df23)

In [63]:

def winner(data) :
    data['승리팀'] = data['result'].fillna('우천취소')

    data.loc[data['result'] > 0, '승리팀'] = data['홈팀']  # result가 양수인 경우 홈팀
    data.loc[data['result'] < 0, '승리팀'] = data['원정팀']  # result가 음수인 경우 원정팀
    data.loc[data['result'] == 0, '승리팀'] = '무승부'  # result가 0인 경우 무승부
    
winner(df21)
winner(df22)
winner(df23)

>  날짜전처리

- year 2021
- month 날짜에서 왼2개 추출
- day 날짜에서 4~5

In [64]:
df21['year'] = '2021'
df22['year'] = '2022'
df23['year'] = '2023'

In [65]:
def date(data) : 
    data['year'] = data['year'].astype(str)
    data['month'] = data['날짜'].str[:2]
    data['day'] = data['날짜'].str[3:5]
    data['weekday'] = data['날짜'].str[6]

date(df21)
date(df22)
date(df23)

> 데이터전처리 (구분코드)

 - 값 붙이기 : 년/월/일/원정팀(1글자)/홈팀(1글자)

In [66]:
def gamecode(data) : 
        data['code'] = data['year'] + data['month'] + data['day'] + data['원정팀'].str[:1] + data['홈팀'].str[:1]
    
gamecode(df21)
gamecode(df22)
gamecode(df23)

# 데이터 병합

In [71]:
result_df = pd.concat([df21, df22, df23])
result_df

,날짜,원정,홈,구장,비고,원정팀,A,홈팀,B,result,승리팀,year,month,day,weekday,code
0,04.03(토),기아,두산,잠실,우천취소,기아,NaN,두산,NaN,NaN,우천취소,2021,04,03,토,20210403기두
1,04.03(토),롯데,SK,문학,우천취소,롯데,NaN,SK,NaN,NaN,우천취소,2021,04,03,토,20210403롯S
2,04.03(토),LG,NC,창원,우천취소,LG,NaN,NC,NaN,NaN,우천취소,2021,04,03,토,20210403LN
3,04.03(토),한화,KT,수원,우천취소,한화,NaN,KT,NaN,NaN,우천취소,2021,04,03,토,20210403한K
4,04.03(토),삼성1,6키움,고척,-,삼성,1.0,키움,6.0,5.0,키움,2021,04,03,토,20210403삼키
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,10.16(월),NaN,NaN,잠실,-,NaN,NaN,NaN,NaN,NaN,우천취소,2023,10,16,월,NaN
809,10.16(월),NaN,NaN,광주,-,NaN,NaN,NaN,NaN,NaN,우천취소,2023,10,16,월,NaN
810,10.16(월),NaN,NaN,대전,-,NaN,NaN,NaN,NaN,NaN,우천취소,2023,10,16,월,NaN
811,10.17(화),NaN,NaN,문학,-,NaN,NaN,NaN,NaN,NaN,우천취소,2023,10,17,화,NaN
812,10.17(화),NaN,NaN,광주,-,NaN,NaN,NaN,NaN,NaN,우천취소,2023,10,17,화,NaN

In [75]:
# 게임코드 없는 것 삭제 

result_df = result_df.dropna()
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1794 entries, 4 to 730
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       1794 non-null   object
 1   원정       1794 non-null   object
 2   홈        1794 non-null   object
 3   구장       1794 non-null   object
 4   비고       1794 non-null   object
 5   원정팀      1794 non-null   object
 6   A        1794 non-null   float64
 7   홈팀       1794 non-null   object
 8   B        1794 non-null   float64
 9   result   1794 non-null   float64
 10  승리팀      1794 non-null   object
 11  year     1794 non-null   object
 12  month    1794 non-null   object
 13  day      1794 non-null   object
 14  weekday  1794 non-null   object
 15  code     1794 non-null   object
dtypes: float64(3), object(13)
memory usage: 238.3+ KB