In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

urls = [
    'https://statiz.sporki.com/stats/?m=team&m2=all&m3=default&so=WAR&ob=DESC&year=2024&sy=2021&ey=2023&te=&po=&lt=&reg=&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2=',
    'https://statiz.sporki.com/stats/?m=team&m2=batting&m3=default&so=WAR&ob=DESC&year=2024&sy=2021&ey=2023&te=&po=&lt=10100&reg=&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2=',
    'https://statiz.sporki.com/stats/?m=team&m2=pitching&m3=default&so=WAR&ob=DESC&year=2024&sy=2021&ey=2023&te=&po=&lt=10100&reg=&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2=',
    'https://statiz.sporki.com/stats/?m=team&m2=fielding&m3=default&so=WAAwithPOS&ob=DESC&year=2024&sy=2021&ey=2023&te=&po=&lt=&reg=&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2='
]

dataframes = []

for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table')
    df = pd.read_html(str(table))[0]  # Convert the HTML table to a DataFrame
    dataframes.append(df)

for idx, df in enumerate(dataframes):
    print(f"Data for URL {idx + 1}:")
    print(df)
    print("\n")

Data for URL 1:
  Rank Season Unnamed: 2_level_0     정렬▼    WAR▼ WAA (야수)                   \
  Rank Season Unnamed: 2_level_1     WAR    WAR▼       BT   SB    BR   Def
0    1     리그                 21  459.00  459.00    -0.04  0.0  0.09  8.19
1    2     리그                 22  455.84  455.84     0.01  0.0 -0.02 -2.16
2    3     리그                 23  447.79  447.79     0.10  0.0 -0.02 -6.15

  Rep. Wins Pos. Wins WAA (투수)        Rep. Win (투수)        WAR (투수)
  Rep. Wins Pos. Wins       GS     GR            GS     GR       GS     GR
0     23.21      0.00    29.24  19.96        121.21  40.14   153.29  62.95
1     24.04      0.01    40.16   2.44        129.40  36.86   168.42  41.22
2     23.59      0.00    32.68   4.40        125.80  39.35   158.35  45.78


Data for URL 2:
  Rank Season Unnamed: 2_level_0     정렬▼      G     PA    ePA     AB     R  \
  Rank Season Unnamed: 2_level_1     WAR      G     PA    ePA     AB     R
0    1     리그                 22  246.20  17841  55963  55206  49276  6523
1    2     리그                 23  243.67  18236  56231  55462  49236  6622
2    3     리그                 21  242.76  18536  56076  55470  48402  6896

       H  ...   GDP   SH   SF     비율                                     \
       H  ...   GDP   SH   SF    AVG    OBP    SLG    OPS  R/ePA   wRC+
0  12801  ...  1076  610  422  0.260  0.333  0.379  0.712  0.118  100.0
1  12969  ...  1015  673  485  0.263  0.338  0.374  0.712  0.119  100.0
2  12566  ...  1078  497  493  0.260  0.346  0.383  0.729  0.124  100.0

     WAR▼
     WAR▼
0  246.20
1  243.67
2  242.76

[3 rows x 31 columns]


Data for URL 3:
  Rank Season Unnamed: 2_level_0     정렬▼     G    GS    GR    GF    W    L  \
  Rank Season Unnamed: 2_level_1     WAR     G    GS    GR    GF    W    L
0    1     리그                 21  216.24  6755  1438  5317  1440  670  670
1    2     리그                 22  209.64  6719  1440  5279  1440  708  708
2    3     리그                 23  204.13  6845  1440  5405  1440  708  708

   ...     SO  ROE  BK   WP   ERA   RA9  rRA9      FIP  WHIP    WAR▼
   ...     SO  ROE  BK   WP   ERA   RA9  rRA9      FIP  WHIP    WAR▼
0  ...  10196  691  62  601  4.45  4.90  4.90  1785.33  1.46  216.24
1  ...  10469  740  26  607  4.08  4.57  4.57  1448.62  1.38  209.64
2  ...   9970  726  45  595  4.15  4.64  4.64  1607.14  1.41  204.13

[3 rows x 34 columns]


Data for URL 4:
  Rank Season Unnamed: 2_level_0        정렬▼      G     GS        IP     TC  \
  Rank Season Unnamed: 2_level_1 WAAwithPOS      G     GS        IP     TC
0    1     리그                 23     -8.164  20608  13087  118679.2  51584
1    2     리그                 22     -8.228  20422  13260  119772.0  52212
2    3     리그                 21     -8.362  21459  13269  118548.1  51418

      PO    Ass  ... 수비 관련 득점 기여도                                    POSAdj  \
      PO    Ass  ...       Bt RAA CS RAA Blk RAA Frm RAA 종합 RAA /144 POSAdj
0  38076  12502  ...          0.0    0.0     0.0     0.0   0.00  0.0 -82.89
1  38089  13100  ...          0.0    0.0     0.0     0.0   0.00  0.0 -82.80
2  37559  12895  ...          0.0    0.0     0.0     0.0  -0.01  0.0 -87.15

  RAAwithPOS WAAwoPOS WAAwithPOS▼
  RAAwithPOS WAAwoPOS WAAwithPOS▼
0     -82.64    0.000      -8.164
1     -83.22    0.000      -8.228
2     -87.56   -0.001      -8.362

[3 rows x 27 columns]

In [2]:
df

  Rank Season Unnamed: 2_level_0        정렬▼      G     GS        IP     TC  \
  Rank Season Unnamed: 2_level_1 WAAwithPOS      G     GS        IP     TC
0    1     리그                 23     -8.164  20608  13087  118679.2  51584
1    2     리그                 22     -8.228  20422  13260  119772.0  52212
2    3     리그                 21     -8.362  21459  13269  118548.1  51418

      PO    Ass  ... 수비 관련 득점 기여도                                    POSAdj  \
      PO    Ass  ...       Bt RAA CS RAA Blk RAA Frm RAA 종합 RAA /144 POSAdj
0  38076  12502  ...          0.0    0.0     0.0     0.0   0.00  0.0 -82.89
1  38089  13100  ...          0.0    0.0     0.0     0.0   0.00  0.0 -82.80
2  37559  12895  ...          0.0    0.0     0.0     0.0  -0.01  0.0 -87.15

  RAAwithPOS WAAwoPOS WAAwithPOS▼
  RAAwithPOS WAAwoPOS WAAwithPOS▼
0     -82.64    0.000      -8.164
1     -83.22    0.000      -8.228
2     -87.56   -0.001      -8.362

[3 rows x 27 columns]

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

urls = [
    'https://statiz.sporki.com/stats/?m=team&m2=all&m3=default&so=WAR&ob=DESC&year=2024&sy=2021&ey=2023&te=&po=&lt=&reg=&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2=',
    'https://statiz.sporki.com/stats/?m=team&m2=batting&m3=default&so=WAR&ob=DESC&year=2024&sy=2021&ey=2023&te=&po=&lt=10100&reg=&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2=',
    'https://statiz.sporki.com/stats/?m=team&m2=pitching&m3=default&so=WAR&ob=DESC&year=2024&sy=2021&ey=2023&te=&po=&lt=10100&reg=&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2=',
    'https://statiz.sporki.com/stats/?m=team&m2=fielding&m3=default&so=WAAwithPOS&ob=DESC&year=2024&sy=2021&ey=2023&te=&po=&lt=&reg=&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2='
]

dataframes = []

for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table')
    df = pd.read_html(str(table))[0]  # Convert the HTML table to a DataFrame
    dataframes.append(df)

# 첫 번째 URL에 대한 데이터프레임
team_data_all = dataframes[0]
print("Team Data (All):\n", team_data_all)
print("\n")

# 두 번째 URL에 대한 데이터프레임
team_batting_data = dataframes[1]
print("Team Batting Data:\n", team_batting_data)
print("\n")

# 세 번째 URL에 대한 데이터프레임
team_pitching_data = dataframes[2]
print("Team Pitching Data:\n", team_pitching_data)
print("\n")

# 네 번째 URL에 대한 데이터프레임
team_fielding_data = dataframes[3]
print("Team Fielding Data:\n", team_fielding_data)

Team Data (All):
   Rank Season Unnamed: 2_level_0     정렬▼    WAR▼ WAA (야수)                   \
  Rank Season Unnamed: 2_level_1     WAR    WAR▼       BT   SB    BR   Def
0    1     리그                 21  459.00  459.00    -0.04  0.0  0.09  8.19
1    2     리그                 22  455.84  455.84     0.01  0.0 -0.02 -2.16
2    3     리그                 23  447.79  447.79     0.10  0.0 -0.02 -6.15

  Rep. Wins Pos. Wins WAA (투수)        Rep. Win (투수)        WAR (투수)
  Rep. Wins Pos. Wins       GS     GR            GS     GR       GS     GR
0     23.21      0.00    29.24  19.96        121.21  40.14   153.29  62.95
1     24.04      0.01    40.16   2.44        129.40  36.86   168.42  41.22
2     23.59      0.00    32.68   4.40        125.80  39.35   158.35  45.78


Team Batting Data:
   Rank Season Unnamed: 2_level_0     정렬▼      G     PA    ePA     AB     R  \
  Rank Season Unnamed: 2_level_1     WAR      G     PA    ePA     AB     R
0    1     리그                 22  246.20  17841  55963  55206  49276  6523
1    2     리그                 23  243.67  18236  56231  55462  49236  6622
2    3     리그                 21  242.76  18536  56076  55470  48402  6896

       H  ...   GDP   SH   SF     비율                                     \
       H  ...   GDP   SH   SF    AVG    OBP    SLG    OPS  R/ePA   wRC+
0  12801  ...  1076  610  422  0.260  0.333  0.379  0.712  0.118  100.0
1  12969  ...  1015  673  485  0.263  0.338  0.374  0.712  0.119  100.0
2  12566  ...  1078  497  493  0.260  0.346  0.383  0.729  0.124  100.0

     WAR▼
     WAR▼
0  246.20
1  243.67
2  242.76

[3 rows x 31 columns]


Team Pitching Data:
   Rank Season Unnamed: 2_level_0     정렬▼     G    GS    GR    GF    W    L  \
  Rank Season Unnamed: 2_level_1     WAR     G    GS    GR    GF    W    L
0    1     리그                 21  216.24  6755  1438  5317  1440  670  670
1    2     리그                 22  209.64  6719  1440  5279  1440  708  708
2    3     리그                 23  204.13  6845  1440  5405  1440  708  708

   ...     SO  ROE  BK   WP   ERA   RA9  rRA9      FIP  WHIP    WAR▼
   ...     SO  ROE  BK   WP   ERA   RA9  rRA9      FIP  WHIP    WAR▼
0  ...  10196  691  62  601  4.45  4.90  4.90  1785.33  1.46  216.24
1  ...  10469  740  26  607  4.08  4.57  4.57  1448.62  1.38  209.64
2  ...   9970  726  45  595  4.15  4.64  4.64  1607.14  1.41  204.13

[3 rows x 34 columns]


Team Fielding Data:
   Rank Season Unnamed: 2_level_0        정렬▼      G     GS        IP     TC  \
  Rank Season Unnamed: 2_level_1 WAAwithPOS      G     GS        IP     TC
0    1     리그                 23     -8.164  20608  13087  118679.2  51584
1    2     리그                 22     -8.228  20422  13260  119772.0  52212
2    3     리그                 21     -8.362  21459  13269  118548.1  51418

      PO    Ass  ... 수비 관련 득점 기여도                                    POSAdj  \
      PO    Ass  ...       Bt RAA CS RAA Blk RAA Frm RAA 종합 RAA /144 POSAdj
0  38076  12502  ...          0.0    0.0     0.0     0.0   0.00  0.0 -82.89
1  38089  13100  ...          0.0    0.0     0.0     0.0   0.00  0.0 -82.80
2  37559  12895  ...          0.0    0.0     0.0     0.0  -0.01  0.0 -87.15

  RAAwithPOS WAAwoPOS WAAwithPOS▼
  RAAwithPOS WAAwoPOS WAAwithPOS▼
0     -82.64    0.000      -8.164
1     -83.22    0.000      -8.228
2     -87.56   -0.001      -8.362

[3 rows x 27 columns]

In [4]:
 team_data_all

  Rank Season Unnamed: 2_level_0     정렬▼    WAR▼ WAA (야수)                   \
  Rank Season Unnamed: 2_level_1     WAR    WAR▼       BT   SB    BR   Def
0    1     리그                 21  459.00  459.00    -0.04  0.0  0.09  8.19
1    2     리그                 22  455.84  455.84     0.01  0.0 -0.02 -2.16
2    3     리그                 23  447.79  447.79     0.10  0.0 -0.02 -6.15

  Rep. Wins Pos. Wins WAA (투수)        Rep. Win (투수)        WAR (투수)
  Rep. Wins Pos. Wins       GS     GR            GS     GR       GS     GR
0     23.21      0.00    29.24  19.96        121.21  40.14   153.29  62.95
1     24.04      0.01    40.16   2.44        129.40  36.86   168.42  41.22
2     23.59      0.00    32.68   4.40        125.80  39.35   158.35  45.78

In [5]:
team_batting_data

  Rank Season Unnamed: 2_level_0     정렬▼      G     PA    ePA     AB     R  \
  Rank Season Unnamed: 2_level_1     WAR      G     PA    ePA     AB     R
0    1     리그                 22  246.20  17841  55963  55206  49276  6523
1    2     리그                 23  243.67  18236  56231  55462  49236  6622
2    3     리그                 21  242.76  18536  56076  55470  48402  6896

       H  ...   GDP   SH   SF     비율                                     \
       H  ...   GDP   SH   SF    AVG    OBP    SLG    OPS  R/ePA   wRC+
0  12801  ...  1076  610  422  0.260  0.333  0.379  0.712  0.118  100.0
1  12969  ...  1015  673  485  0.263  0.338  0.374  0.712  0.119  100.0
2  12566  ...  1078  497  493  0.260  0.346  0.383  0.729  0.124  100.0

     WAR▼
     WAR▼
0  246.20
1  243.67
2  242.76

[3 rows x 31 columns]

In [6]:
team_fielding_data

  Rank Season Unnamed: 2_level_0        정렬▼      G     GS        IP     TC  \
  Rank Season Unnamed: 2_level_1 WAAwithPOS      G     GS        IP     TC
0    1     리그                 23     -8.164  20608  13087  118679.2  51584
1    2     리그                 22     -8.228  20422  13260  119772.0  52212
2    3     리그                 21     -8.362  21459  13269  118548.1  51418

      PO    Ass  ... 수비 관련 득점 기여도                                    POSAdj  \
      PO    Ass  ...       Bt RAA CS RAA Blk RAA Frm RAA 종합 RAA /144 POSAdj
0  38076  12502  ...          0.0    0.0     0.0     0.0   0.00  0.0 -82.89
1  38089  13100  ...          0.0    0.0     0.0     0.0   0.00  0.0 -82.80
2  37559  12895  ...          0.0    0.0     0.0     0.0  -0.01  0.0 -87.15

  RAAwithPOS WAAwoPOS WAAwithPOS▼
  RAAwithPOS WAAwoPOS WAAwithPOS▼
0     -82.64    0.000      -8.164
1     -83.22    0.000      -8.228
2     -87.56   -0.001      -8.362

[3 rows x 27 columns]

In [8]:
team_pitching_data

,Rank,Season,Unnamed: 2_level_0,정렬▼,G,GS,GR,GF,W,L,...,SO,ROE,BK,WP,ERA,RA9,rRA9,FIP,WHIP,WAR▼
,Rank,Season,Unnamed: 2_level_1,WAR,G,GS,GR,GF,W,L,...,SO,ROE,BK,WP,ERA,RA9,rRA9,FIP,WHIP,WAR▼
0,1,리그,21,216.24,6755,1438,5317,1440,670,670,...,10196,691,62,601,4.45,4.90,4.90,1785.33,1.46,216.24
1,2,리그,22,209.64,6719,1440,5279,1440,708,708,...,10469,740,26,607,4.08,4.57,4.57,1448.62,1.38,209.64
2,3,리그,23,204.13,6845,1440,5405,1440,708,708,...,9970,726,45,595,4.15,4.64,4.64,1607.14,1.41,204.13