In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [2]:
weather_df = pd.read_csv("weather_treatment.csv")

weather_df.head()

   Unnamed: 0   지점 지점명          일시  평균기온  최저기온  최고기온  일강수량   풍속    습도   강수여부
0           0  108  서울  2021-01-01  -4.2  -9.8   1.6   0.0  2.0  64.0  sunny
1           1  108  서울  2021-01-02  -5.0  -8.4  -1.4   0.0  2.6  38.5  sunny
2           2  108  서울  2021-01-03  -5.6  -9.1  -2.0   0.0  2.0  45.0  sunny
3           3  108  서울  2021-01-04  -3.5  -8.4   0.3   0.0  1.7  51.4  sunny
4           4  108  서울  2021-01-05  -5.5  -9.9  -2.1   0.0  2.9  52.8  sunny

In [3]:
weather_df.head()

   Unnamed: 0   지점 지점명          일시  평균기온  최저기온  최고기온  일강수량   풍속    습도   강수여부
0           0  108  서울  2021-01-01  -4.2  -9.8   1.6   0.0  2.0  64.0  sunny
1           1  108  서울  2021-01-02  -5.0  -8.4  -1.4   0.0  2.6  38.5  sunny
2           2  108  서울  2021-01-03  -5.6  -9.1  -2.0   0.0  2.0  45.0  sunny
3           3  108  서울  2021-01-04  -3.5  -8.4   0.3   0.0  1.7  51.4  sunny
4           4  108  서울  2021-01-05  -5.5  -9.9  -2.1   0.0  2.9  52.8  sunny

In [4]:
spec_df = pd.read_csv('spectator.csv')

spec_df

        연도   월   일 요일      홈팀  원정팀            경기장  날씨  평균기온     관중수
0     2023  10  17  화     KIA   NC  광주-기아 챔피언스 필드  맑음  21.7  10,175
1     2023  10  17  화     SSG   두산    인천SSG 랜더스필드  맑음  19.5  21,007
2     2023  10  16  월      두산  SSG      서울 잠실 야구장  맑음  19.6  15,850
3     2023  10  16  월      한화   롯데  대전 한화생명 이글스파크  맑음  20.7  12,000
4     2023  10  16  월     KIA   NC  광주-기아 챔피언스 필드  맑음  20.6   5,251
...    ...  ..  .. ..     ...  ...            ...  ..   ...     ...
2433  2021   4   3  토      두산  KIA      서울 잠실 야구장   비  18.0       0
2434  2021   4   3  토  키움히어로즈   삼성       서울고척스카이돔   비  18.0    1665
2435  2021   4   3  토      KT   한화      수원케이티위즈파크   비  18.6       0
2436  2021   4   3  토      NC   LG         창원NC파크   비  17.0       0
2437  2021   4   3  토     SSG   롯데    인천SSG 랜더스필드   비  18.2       0

[2438 rows x 10 columns]

- 날짜 형식 다름

In [5]:
# 날짜 컬럼을 연도, 월, 일로 분리
weather_df[['연도', '월', '일']] = weather_df['일시'].str.split('-', expand=True).astype(int)
weather_df.drop(columns=['일시'], inplace=True)

In [6]:
weather_df

,Unnamed: 0,지점,지점명,평균기온,최저기온,최고기온,일강수량,풍속,습도,강수여부,연도,월,일
0,0,108,서울,-4.2,-9.8,1.6,0.0,2.0,64.0,sunny,2021,1,1
1,1,108,서울,-5.0,-8.4,-1.4,0.0,2.6,38.5,sunny,2021,1,2
2,2,108,서울,-5.6,-9.1,-2.0,0.0,2.0,45.0,sunny,2021,1,3
3,3,108,서울,-3.5,-8.4,0.3,0.0,1.7,51.4,sunny,2021,1,4
4,4,108,서울,-5.5,-9.9,-2.1,0.0,2.9,52.8,sunny,2021,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11815,11815,159,부산,16.1,12.3,20.5,0.7,5.2,73.6,rainy,2024,3,23
11816,11816,159,부산,11.3,10.1,13.6,3.7,4.2,77.5,rainy,2024,3,24
11817,11817,159,부산,10.5,8.7,12.4,9.4,4.2,82.4,rainy,2024,3,25
11818,11818,159,부산,8.8,6.2,12.9,9.8,3.8,75.4,rainy,2024,3,26
11819,11819,159,부산,10.1,5.0,14.9,0.0,2.0,66.3,sunny,2024,3,27

In [7]:
spec_df['지점명'] = spec_df['경기장'].str[:2]

In [8]:
spec_df

        연도   월   일 요일      홈팀  원정팀            경기장  날씨  평균기온     관중수 지점명
0     2023  10  17  화     KIA   NC  광주-기아 챔피언스 필드  맑음  21.7  10,175  광주
1     2023  10  17  화     SSG   두산    인천SSG 랜더스필드  맑음  19.5  21,007  인천
2     2023  10  16  월      두산  SSG      서울 잠실 야구장  맑음  19.6  15,850  서울
3     2023  10  16  월      한화   롯데  대전 한화생명 이글스파크  맑음  20.7  12,000  대전
4     2023  10  16  월     KIA   NC  광주-기아 챔피언스 필드  맑음  20.6   5,251  광주
...    ...  ..  .. ..     ...  ...            ...  ..   ...     ...  ..
2433  2021   4   3  토      두산  KIA      서울 잠실 야구장   비  18.0       0  서울
2434  2021   4   3  토  키움히어로즈   삼성       서울고척스카이돔   비  18.0    1665  서울
2435  2021   4   3  토      KT   한화      수원케이티위즈파크   비  18.6       0  수원
2436  2021   4   3  토      NC   LG         창원NC파크   비  17.0       0  창원
2437  2021   4   3  토     SSG   롯데    인천SSG 랜더스필드   비  18.2       0  인천

[2438 rows x 11 columns]

In [10]:
# 데이터프레임 병합
weather_spec = pd.merge(weather_df, spec_df, on=['연도', '월', '일', '지점명'])

print(weather_spec)

      Unnamed: 0   지점 지점명  평균기온_x  최저기온  최고기온  일강수량   풍속    습도   강수여부    연도  \
0             92  108  서울    14.9  10.9  18.0  56.2  3.1  80.8  rainy  2021
1             92  108  서울    14.9  10.9  18.0  56.2  3.1  80.8  rainy  2021
2             93  108  서울    11.9   9.0  15.8   0.6  3.2  65.8  rainy  2021
3             93  108  서울    11.9   9.0  15.8   0.6  3.2  65.8  rainy  2021
4             95  108  서울    13.9   9.4  19.2   0.0  2.5  50.9  sunny  2021
...          ...  ...  ..     ...   ...   ...   ...  ...   ...    ...   ...
2433       11642  159  부산    20.4  17.0  26.1   0.0  2.6  42.1  sunny  2023
2434       11643  159  부산    19.7  17.9  22.5   0.9  2.5  61.9  rainy  2023
2435       11644  159  부산    21.2  16.9  26.5   0.0  2.1  54.1  sunny  2023
2436       11645  159  부산    18.4  15.4  22.7   0.0  2.9  31.0  sunny  2023
2437       11651  159  부산    19.8  16.8  24.5   0.0  3.2  44.5  sunny  2023

       월   일 요일      홈팀  원정팀        경기장    날씨  평균기온_y     관중수
0      4   3  토      두산  KIA  서울 잠실 야구장     비    18.0       0
1      4   3  토  키움히어로즈   삼성   서울고척스카이돔     비    18.0    1665
2      4   4  일      두산  KIA  서울 잠실 야구장     비    15.8    2410
3      4   4  일  키움히어로즈   삼성   서울고척스카이돔     비    15.8    1655
4      4   6  화      두산   삼성  서울 잠실 야구장    맑음    19.2    2245
...   ..  .. ..     ...  ...        ...   ...     ...     ...
2433  10   2  월      롯데   삼성  부산 사직 야구장  구름조금    26.1  16,293
2434  10   3  화      롯데   삼성  부산 사직 야구장     비    22.5  13,042
2435  10   4  수      롯데   LG  부산 사직 야구장  구름많음    26.5   6,970
2436  10   5  목      롯데   LG  부산 사직 야구장  구름조금    22.7  10,040
2437  10  11  수      롯데   두산  부산 사직 야구장    맑음    24.5   9,940

[2438 rows x 20 columns]

In [11]:
weather_spec

,Unnamed: 0,지점,지점명,평균기온_x,최저기온,최고기온,일강수량,풍속,습도,강수여부,연도,월,일,요일,홈팀,원정팀,경기장,날씨,평균기온_y,관중수
0,92,108,서울,14.9,10.9,18.0,56.2,3.1,80.8,rainy,2021,4,3,토,두산,KIA,서울 잠실 야구장,비,18.0,0
1,92,108,서울,14.9,10.9,18.0,56.2,3.1,80.8,rainy,2021,4,3,토,키움히어로즈,삼성,서울고척스카이돔,비,18.0,1665
2,93,108,서울,11.9,9.0,15.8,0.6,3.2,65.8,rainy,2021,4,4,일,두산,KIA,서울 잠실 야구장,비,15.8,2410
3,93,108,서울,11.9,9.0,15.8,0.6,3.2,65.8,rainy,2021,4,4,일,키움히어로즈,삼성,서울고척스카이돔,비,15.8,1655
4,95,108,서울,13.9,9.4,19.2,0.0,2.5,50.9,sunny,2021,4,6,화,두산,삼성,서울 잠실 야구장,맑음,19.2,2245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,11642,159,부산,20.4,17.0,26.1,0.0,2.6,42.1,sunny,2023,10,2,월,롯데,삼성,부산 사직 야구장,구름조금,26.1,"16,293"
2434,11643,159,부산,19.7,17.9,22.5,0.9,2.5,61.9,rainy,2023,10,3,화,롯데,삼성,부산 사직 야구장,비,22.5,"13,042"
2435,11644,159,부산,21.2,16.9,26.5,0.0,2.1,54.1,sunny,2023,10,4,수,롯데,LG,부산 사직 야구장,구름많음,26.5,"6,970"
2436,11645,159,부산,18.4,15.4,22.7,0.0,2.9,31.0,sunny,2023,10,5,목,롯데,LG,부산 사직 야구장,구름조금,22.7,"10,040"
2437,11651,159,부산,19.8,16.8,24.5,0.0,3.2,44.5,sunny,2023,10,11,수,롯데,두산,부산 사직 야구장,맑음,24.5,"9,940"

In [21]:
def discomfort_index(평균기온_x, 습도):
    """
    Calculate discomfort index (DI) given temperature in Celsius and relative humidity.
    
    Parameters:
        temperature_C (float): Temperature in Celsius.
        humidity (float): Relative humidity in percentage.
    
    Returns:
        float: Discomfort index.
    """
    DI = 0.81 * 평균기온_x + 0.01 * 습도 * (0.99 * 평균기온_x - 14.3) + 46.3
    return DI

# 불쾌지수 계산 후 새로운 컬럼에 추가
weather_spec['불쾌지수'] =round(discomfort_index(weather_spec['평균기온_x'], weather_spec['습도']))

print(weather_spec)

      Unnamed: 0   지점 지점명  평균기온_x  최저기온  최고기온  일강수량   풍속    습도   강수여부  ...  \
0             92  108  서울    14.9  10.9  18.0  56.2  3.1  80.8  rainy  ...
1             92  108  서울    14.9  10.9  18.0  56.2  3.1  80.8  rainy  ...
2             93  108  서울    11.9   9.0  15.8   0.6  3.2  65.8  rainy  ...
3             93  108  서울    11.9   9.0  15.8   0.6  3.2  65.8  rainy  ...
4             95  108  서울    13.9   9.4  19.2   0.0  2.5  50.9  sunny  ...
...          ...  ...  ..     ...   ...   ...   ...  ...   ...    ...  ...
2433       11642  159  부산    20.4  17.0  26.1   0.0  2.6  42.1  sunny  ...
2434       11643  159  부산    19.7  17.9  22.5   0.9  2.5  61.9  rainy  ...
2435       11644  159  부산    21.2  16.9  26.5   0.0  2.1  54.1  sunny  ...
2436       11645  159  부산    18.4  15.4  22.7   0.0  2.9  31.0  sunny  ...
2437       11651  159  부산    19.8  16.8  24.5   0.0  3.2  44.5  sunny  ...

       월   일  요일      홈팀  원정팀        경기장    날씨 평균기온_y     관중수  불쾌지수
0      4   3   토      두산  KIA  서울 잠실 야구장     비   18.0       0  59.0
1      4   3   토  키움히어로즈   삼성   서울고척스카이돔     비   18.0    1665  59.0
2      4   4   일      두산  KIA  서울 잠실 야구장     비   15.8    2410  54.0
3      4   4   일  키움히어로즈   삼성   서울고척스카이돔     비   15.8    1655  54.0
4      4   6   화      두산   삼성  서울 잠실 야구장    맑음   19.2    2245  57.0
...   ..  ..  ..     ...  ...        ...   ...    ...     ...   ...
2433  10   2   월      롯데   삼성  부산 사직 야구장  구름조금   26.1  16,293  65.0
2434  10   3   화      롯데   삼성  부산 사직 야구장     비   22.5  13,042  65.0
2435  10   4   수      롯데   LG  부산 사직 야구장  구름많음   26.5   6,970  67.0
2436  10   5   목      롯데   LG  부산 사직 야구장  구름조금   22.7  10,040  62.0
2437  10  11   수      롯데   두산  부산 사직 야구장    맑음   24.5   9,940  65.0

[2438 rows x 21 columns]

In [22]:
weather_spec

,Unnamed: 0,지점,지점명,평균기온_x,최저기온,최고기온,일강수량,풍속,습도,강수여부,...,월,일,요일,홈팀,원정팀,경기장,날씨,평균기온_y,관중수,불쾌지수
0,92,108,서울,14.9,10.9,18.0,56.2,3.1,80.8,rainy,...,4,3,토,두산,KIA,서울 잠실 야구장,비,18.0,0,59.0
1,92,108,서울,14.9,10.9,18.0,56.2,3.1,80.8,rainy,...,4,3,토,키움히어로즈,삼성,서울고척스카이돔,비,18.0,1665,59.0
2,93,108,서울,11.9,9.0,15.8,0.6,3.2,65.8,rainy,...,4,4,일,두산,KIA,서울 잠실 야구장,비,15.8,2410,54.0
3,93,108,서울,11.9,9.0,15.8,0.6,3.2,65.8,rainy,...,4,4,일,키움히어로즈,삼성,서울고척스카이돔,비,15.8,1655,54.0
4,95,108,서울,13.9,9.4,19.2,0.0,2.5,50.9,sunny,...,4,6,화,두산,삼성,서울 잠실 야구장,맑음,19.2,2245,57.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,11642,159,부산,20.4,17.0,26.1,0.0,2.6,42.1,sunny,...,10,2,월,롯데,삼성,부산 사직 야구장,구름조금,26.1,"16,293",65.0
2434,11643,159,부산,19.7,17.9,22.5,0.9,2.5,61.9,rainy,...,10,3,화,롯데,삼성,부산 사직 야구장,비,22.5,"13,042",65.0
2435,11644,159,부산,21.2,16.9,26.5,0.0,2.1,54.1,sunny,...,10,4,수,롯데,LG,부산 사직 야구장,구름많음,26.5,"6,970",67.0
2436,11645,159,부산,18.4,15.4,22.7,0.0,2.9,31.0,sunny,...,10,5,목,롯데,LG,부산 사직 야구장,구름조금,22.7,"10,040",62.0
2437,11651,159,부산,19.8,16.8,24.5,0.0,3.2,44.5,sunny,...,10,11,수,롯데,두산,부산 사직 야구장,맑음,24.5,"9,940",65.0

In [23]:
year_2021 = weather_spec[weather_spec['연도'] == 2021]

print("2021년 데이터:")
year_2021

2021년 데이터:

,Unnamed: 0,지점,지점명,평균기온_x,최저기온,최고기온,일강수량,풍속,습도,강수여부,...,월,일,요일,홈팀,원정팀,경기장,날씨,평균기온_y,관중수,불쾌지수
0,92,108,서울,14.9,10.9,18.0,56.2,3.1,80.8,rainy,...,4,3,토,두산,KIA,서울 잠실 야구장,비,18.0,0,59.0
1,92,108,서울,14.9,10.9,18.0,56.2,3.1,80.8,rainy,...,4,3,토,키움히어로즈,삼성,서울고척스카이돔,비,18.0,1665,59.0
2,93,108,서울,11.9,9.0,15.8,0.6,3.2,65.8,rainy,...,4,4,일,두산,KIA,서울 잠실 야구장,비,15.8,2410,54.0
3,93,108,서울,11.9,9.0,15.8,0.6,3.2,65.8,rainy,...,4,4,일,키움히어로즈,삼성,서울고척스카이돔,비,15.8,1655,54.0
4,95,108,서울,13.9,9.4,19.2,0.0,2.5,50.9,sunny,...,4,6,화,두산,삼성,서울 잠실 야구장,맑음,19.2,2245,57.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2283,10934,159,부산,15.8,11.4,20.7,0.0,0.9,59.5,sunny,...,10,24,일,롯데,한화,부산 사직 야구장,구름많음,20.7,3167,60.0
2284,10937,159,부산,17.1,13.0,22.3,0.0,2.8,49.0,sunny,...,10,27,수,롯데,KIA,부산 사직 야구장,구름조금,22.3,1458,61.0
2285,10938,159,부산,16.9,11.7,23.3,0.0,3.3,48.4,sunny,...,10,28,목,롯데,KIA,부산 사직 야구장,맑음,23.3,1462,61.0
2286,10939,159,부산,15.9,13.8,20.2,0.0,3.3,55.8,sunny,...,10,29,금,롯데,LG,부산 사직 야구장,구름많음,20.2,2556,60.0
2287,10940,159,부산,16.6,13.8,20.6,0.0,2.5,59.1,sunny,...,10,30,토,롯데,LG,부산 사직 야구장,구름많음,20.6,5855,61.0

In [24]:
year_2022 = weather_spec[weather_spec['연도'] == 2022]

print("2022년 데이터:")
year_2022

2022년 데이터:

,Unnamed: 0,지점,지점명,평균기온_x,최저기온,최고기온,일강수량,풍속,습도,강수여부,...,월,일,요일,홈팀,원정팀,경기장,날씨,평균기온_y,관중수,불쾌지수
247,456,108,서울,8.2,3.7,14.2,0.0,2.3,55.0,sunny,...,4,2,토,두산,한화,서울 잠실 야구장,맑음,14.2,16271,50.0
248,456,108,서울,8.2,3.7,14.2,0.0,2.3,55.0,sunny,...,4,2,토,키움히어로즈,롯데,서울고척스카이돔,맑음,14.2,8257,50.0
249,457,108,서울,9.6,3.5,17.0,0.0,2.1,55.0,sunny,...,4,3,일,키움히어로즈,롯데,서울고척스카이돔,맑음,17.0,6115,51.0
250,457,108,서울,9.6,3.5,17.0,0.0,2.1,55.0,sunny,...,4,3,일,두산,한화,서울 잠실 야구장,맑음,17.0,11345,51.0
251,459,108,서울,10.3,4.9,15.8,0.0,2.4,41.1,sunny,...,4,5,화,두산,삼성,서울 잠실 야구장,구름많음,15.8,4109,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2356,11260,159,부산,24.3,22.5,28.1,0.0,3.9,75.5,sunny,...,9,15,목,롯데,키움히어로즈,부산 사직 야구장,구름많음,28.1,5133,73.0
2357,11261,159,부산,25.1,22.5,29.2,0.0,2.5,85.0,sunny,...,9,16,금,롯데,키움히어로즈,부산 사직 야구장,구름많음,29.2,8567,76.0
2358,11277,159,부산,23.9,20.0,28.3,0.0,1.8,77.0,sunny,...,10,2,일,롯데,두산,부산 사직 야구장,구름조금,28.3,14088,73.0
2359,11278,159,부산,24.2,23.2,25.3,2.9,6.7,89.1,rainy,...,10,3,월,롯데,두산,부산 사직 야구장,비,25.3,11162,75.0
2360,11283,159,부산,17.2,14.3,21.8,0.0,3.7,61.9,sunny,...,10,8,토,롯데,LG,부산 사직 야구장,구름조금,21.8,22990,62.0

In [25]:
year_2023 = weather_spec[weather_spec['연도'] == 2023]

print("2023년 데이터:")
year_2023

2023년 데이터:

,Unnamed: 0,지점,지점명,평균기온_x,최저기온,최고기온,일강수량,풍속,습도,강수여부,...,월,일,요일,홈팀,원정팀,경기장,날씨,평균기온_y,관중수,불쾌지수
476,820,108,서울,17.5,9.4,25.6,0.0,1.8,40.4,sunny,...,4,1,토,두산,롯데,서울 잠실 야구장,맑음,25.6,"23,750",62.0
477,820,108,서울,17.5,9.4,25.6,0.0,1.8,40.4,sunny,...,4,1,토,키움히어로즈,한화,서울고척스카이돔,맑음,25.6,"16,000",62.0
478,821,108,서울,18.8,11.9,25.2,0.0,2.4,29.6,sunny,...,4,2,일,키움히어로즈,한화,서울고척스카이돔,맑음,25.2,"11,562",63.0
479,821,108,서울,18.8,11.9,25.2,0.0,2.4,29.6,sunny,...,4,2,일,두산,롯데,서울 잠실 야구장,맑음,25.2,"23,750",63.0
480,823,108,서울,17.6,12.7,21.7,6.9,2.6,40.4,rainy,...,4,4,화,두산,NC,서울 잠실 야구장,비,21.7,"3,924",62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,11642,159,부산,20.4,17.0,26.1,0.0,2.6,42.1,sunny,...,10,2,월,롯데,삼성,부산 사직 야구장,구름조금,26.1,"16,293",65.0
2434,11643,159,부산,19.7,17.9,22.5,0.9,2.5,61.9,rainy,...,10,3,화,롯데,삼성,부산 사직 야구장,비,22.5,"13,042",65.0
2435,11644,159,부산,21.2,16.9,26.5,0.0,2.1,54.1,sunny,...,10,4,수,롯데,LG,부산 사직 야구장,구름많음,26.5,"6,970",67.0
2436,11645,159,부산,18.4,15.4,22.7,0.0,2.9,31.0,sunny,...,10,5,목,롯데,LG,부산 사직 야구장,구름조금,22.7,"10,040",62.0
2437,11651,159,부산,19.8,16.8,24.5,0.0,3.2,44.5,sunny,...,10,11,수,롯데,두산,부산 사직 야구장,맑음,24.5,"9,940",65.0